# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
.venv/
venv/

# =========================
# Environment Variables
# =========================
.env

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Cache
# =========================
cache/
*.cache

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Datasets / Large Files
# =========================
datasets/
pigmentation.v2i.multiclass/
*.zip

# =========================
# Training Artifacts
# =========================
training_log.csv
metrics_log.json
*.ckpt

# =========================
# Vector DB / RAG
# =========================
*.index
*.pkl
backend/rag/faiss*

# =========================
# Duplicate / Unused Models
# =========================
backend/models/best_model.h5

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml
.keras